[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"

[packages]
flask = "==1.1.2"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-sqlalchemy = "*"
pytest = "*"
flask-migrate = "*"
pymysql = "*"
uwsgi = "*"
flask-script = "*"

[requires]
python_version = "3.8"

[scripts]
format = "yapf -r -i ./"
lint   = "flake8 --show-source ./"
test   = "pytest -vv --ff"
server   = "python main.py"
migrate = "python manage.py db upgrade"
uwsgi-start = ".venv/bin/uwsgi --ini uwsgi.ini"
uwsgi-stop = ".venv/bin/uwsgi --stop uwsgi.pid"
uwsgi-reload = ".venv/bin/uwsgi --reload uwsgi.pid"
